<%= render "flashes" -%>
<%= simple_form_for @business, html: { multipart: true } do |f| %>
<ul class="list-group list-group-flush">
  <li class="list-group-item">
    <%= f.file_field :image %>
    <p class="text-muted">
      Ad Image
    </small>


    <%= f.input :name, label: false, placeholder: 'Name' %>
    <p class="text-muted">
      Business Name
    </small>

    <%= f.input :description, label: false, placeholder: 'Description' %>
    <p class="text-muted">
      Address (Kosovo only)
    </small>

    <%= f.input :additional_text, label: false, placeholder: 'Additional Text' %>
    <p class="text-muted">
      1000 characters left
    </small>

    <%= f.input :email, label: false, placeholder: 'E-mail' %>
    <p class="text-muted">
      eg. john.doe@email.com
    </small>

    <%= f.input :phone, label: false, placeholder: 'Phone' %>
    <p class="text-muted">
      Primary Phone Number
    </small>

    <%= f.input :url, label: false, placeholder: 'Website' %>
    <p class="text-muted">
      eg. www.example.com
    </small>

    <%= f.input :services, label: false, placeholder: 'Services' %>
    <p class="text-muted">
      Services list
    </small>

    <%= f.input :slogan, label: false, placeholder: 'Slogan' %>
    <p class="text-muted">
      Business slogan
    </small>
  </li>
  <li class="list-group-item">
    <div class="card-block">
      <%= f.button :submit, class: 'btn-primary card-link' %>
      <a href="#" class="card-link">Another link</a>
    </div>
  </li>
</ul>
<% end %>
