<div class="album text-muted">
<div class="container">
  <div class="row">
    <% if @businesses.any? %>
      <% @businesses.find_each do |business| %>
        <div class="yp-card">
          <%= image_tag business.image.url, style: 'height: 280px; width: 100%; display: block;' %>

          <h1 class="lead">
            <%= link_to business_path(business) do %>
              <%= business.name %>
            <% end %>
          </h1>
          <p class="yp-card-text"><%= business.description %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
