<div class="jumbotron jumbotron-fluid jumbotron-yp">
  <div class="container">
    <h1 class="display-3">Add a Business</h1>
    <p class="lead">Add General Description, Coupon, Services/Products and much more</p>
  </div>
</div>
<div class="container-rw">
  <div class="card">
  <div class="card-block">
  </div>
  <!-- <img class="card-img-top" src="" alt="Card image cap"> -->
  <%= render 'form' %>
</div>
</div>
