<nav class="navbar navbar-static-top navbar-light">
  <%= link_to "yp", root_path, class: 'navbar-brand' %>
  <ul class="nav navbar-nav">
    <li class="nav-item active">
      <%= link_to businesses_path, class: 'nav-link' do %>
        Find businesses <span class="sr-only">(current)</span>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to "Advertise With Us", new_business_path, class: 'nav-link'%> 
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Help</a>
    </li>
    <ul class="nav navbar-nav pull-xs-right">
      <%= render 'layouts/nav_links_for_auth' %>
    </ul>
  </ul>
</nav>
