<% if user_signed_in? %>
  <li class="nav-item">
    <%= link_to 'Edit Account', edit_user_registration_path, class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to 'Sign out', destroy_user_session_path, method: 'delete', class: 'nav-link' %>
  </li>
<% else %>
  <li class="nav-item">
    <%= link_to 'Sign In', new_user_session_path, class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to 'Join', new_user_registration_path, class: 'nav-link' %>
  </li>
<% end %>
